.redflag-container {
    border: 1px solid lightgrey;
    margin-top: 30px;
}


.title-div{
 background-color: lightgrey;
}

.lat-long{
   width: 83%;
   margin-left: 1px;
   margin-bottom: 5px;
}

.create-form{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.create-form input{
    margin: 10px;
}

.text{
    margin-top: 35px;
}
